body {
    margin: 0;
}

.product-card-container {
    height: 100%;
}

.card-container {
    border: 1px solid grey;
    height: 100%;
}

.product-image-container {
    text-align: center;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    width: 45%;
    
}

.product-image-individual-container {
    text-align: start;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.product-image-individual {
    width: 20%;
}

.mb-2 {
    align-items: baseline;
}

.items-alignment-individual {
    margin-bottom: 0.5rem;
    width: 35%;
}
.rupee-icon {
    font-size: 74%;
    margin-right: 0.1rem;
}

.input-element {
    width: 80%;
    height: 2.1rem;
}

.spinner-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.api-unsuccessful {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}